/* Common Setting  */
body {
    padding: 0;
}
.header,
.footer {
    padding-left: 0;
    padding-right: 0;
}

/* Site header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.header .navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.header .navbar .navbar-header {
    padding-left: 50px;
}

/* Site footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    text-align: right;
    padding-right: 20px;
}
/* Site content */
.img-pdf {
    background: linear-gradient(135deg, #f70000 0%,#930000 100%);
    font-size: 36px;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
}
.img-word {
    background: linear-gradient(135deg, #42adb7 0%,#0072ab 100%);
    font-size: 36px;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
}
.img-excel {
    background: linear-gradient(135deg, #82d900 0%,#138600 100%);
    font-size: 36px;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
}
.align-right {
    text-align: right;
}
.relative {
    position: relative;
}
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

/* Main container */
.main-container .common-container {
    background-color: #fff;
    border: 1px solid #DDD;
    padding: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
legend{
    padding: 5px 10px;
}

.form-horizontal .control-label {
    padding-right: 0px;
    padding-top: 5px;
}

.form-control{
    line-height: 30px;
    height: 30px;
    padding: 4px 5px;
}
.btn {
    padding-left: 24px;
    padding-right: 24px;
}
.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

/**
 *
 */
.panel .no-padding {
    padding: 0;
}
.panel.no-border {
    border: none;
}
.panel .panel-heading span {
    padding-right: 8px;
}
.panel .list-group {
    margin-bottom: 0;
}
.panel .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
}
.panel .list-group-item {
    border-left: none;
    border-right: none;
    cursor: pointer;
}
.panel .list-group-item:hover {
    background-color: #f5f5f5;
}

.common-container a.abs-link{
    position: absolute;
    right: 0;
    font-size: 14px;
    top: 5px;
}
.common-container span.abs-icon {
    position: absolute;
    right: 60px;
    font-size: 14px;
    top: 8px;
}
.video-page .template{
    font-size: 12px;
}
.video-page .template .album-options{
    padding: 5px 0px;
}
.video-page .template p{
    margin: 0;
    padding-bottom: 2px;
}

.panel-body .stu-list .opt-buttons {
    top: 55px;
}
.panel-body .stu-list .opt-buttons a {
    margin: 5px;
}
.panel-body .stu-list .option-bars {
    margin-top: 10px;
}
.input-control {
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
}