<div class="" data-ng-controller="ClassManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading relative">
            <span class="icon-share2"></span>班级详细信息
            <div class="align-right">
                <a class="text-decoration" ui-sref="admin.class-edit({id:userData.id, cid:class.id})">编辑<span class="icon-pencil"></span></a>
                <a class="text-decoration" href="javascript:void(0)" data-ng-click="delete(class.id)">删除<span class="icon-pencil"></span></a>
                <a class="text-decoration" ui-sref="admin.class-list({id:userData.id})">返回<span class="icon-forward"></span></a>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="col-left">名字</span>
                    <span class="col-right">{{class.name}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">学校</span>
                    <span class="col-right">{{class.school_id}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">学校代码</span>
                    <span>{{class.school_code}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">所属年级</span>
                    <span class="col-right">{{class.grade}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">入学年份</span>
                    <span class="col-right">{{class.enter_year}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">校长姓名</span>
                    <span class="col-right">{{class.charge_teacher}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">联系方式</span>
                    <span class="col-right">{{class.contact_mobile}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">备注</span>
                    <span class="col-right">{{class.remark}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>