<div class="" data-ng-controller="SchoolManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading relative"><span class="icon-share2"></span>变更学校信息
            <div class="align-right">
                <a class="text-decoration" ui-sref="admin.school-detail({id:userData.id, sid:school.id})">返回<span class="icon-forward"></span></a>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="addForm">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="name" type="text" maxlength="50" class="form-control input-sm" id="name" ng-model="school.name">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edu_no" class="col-sm-2 control-label">教育编号</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="edu_no" type="text" maxlength="64" class="form-control input-sm" id="edu_no" ng-model="school.edu_no">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-sm-2 control-label">学校代码</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="code" type="text" maxlength="50" class="form-control input-sm" id="code" ng-model="school.code">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="level" class="col-sm-2 control-label">所属级别</label>
                    <div class="col-sm-8">
                        <select name="level" id="level" class="form-control input-sm" ng-model="school.level"
                                ng-options="item.id as item.name for item in textbookLevel">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="principal" class="col-sm-2 control-label">校长</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="principal" type="text" maxlength="50" class="form-control input-sm" id="principal" ng-model="school.principal">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="province_id" class="col-sm-2 control-label">省份</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="province_id" type="text" maxlength="50" class="form-control input-sm" id="province_id" ng-model="school.province_id">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city_id" class="col-sm-2 control-label">城市</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="city_id" type="text" maxlength="50" class="form-control input-sm" id="city_id" ng-model="school.city_id">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="district_id" class="col-sm-2 control-label">区县</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="district_id" type="text" maxlength="50" class="form-control input-sm" id="district_id" ng-model="school.district_id">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="official_email" class="col-sm-2 control-label">官方电子邮箱</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="official_email" type="text" maxlength="50" class="form-control input-sm" id="official_email" ng-model="school.official_email">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="official_tel" class="col-sm-2 control-label">官方固定电话</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="official_tel" type="text" maxlength="64" class="form-control input-sm" id="official_tel" ng-model="school.official_tel">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="address" type="text" maxlength="150" class="form-control input-sm" id="address" ng-model="school.address">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="postal_code" class="col-sm-2 control-label">邮政编码</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="postal_code" type="text" maxlength="6" class="form-control input-sm" id="postal_code" ng-model="school.postal_code">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-sm-2 control-label">联系人</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="contact" type="text" maxlength="50" class="form-control input-sm" id="contact" ng-model="school.contact">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_mobile" class="col-sm-2 control-label">联系人移动电话</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="contact_mobile" type="text" maxlength="64" class="form-control input-sm" id="contact_mobile" ng-model="school.contact_mobile">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_tel" class="col-sm-2 control-label">联系人固定电话</label>
                    <div class="col-sm-8">
                        <span class="error-msg"></span>
                        <input name="contact_tel" type="text" maxlength="64" class="form-control input-sm" id="contact_tel" ng-model="school.contact_tel">
                        <span class="required-msg">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">学校状态</label>
                    <div class="col-sm-8">
                        <select name="status" id="status" class="form-control input-sm" ng-model="school.status"
                                ng-options="item.id as item.name for item in textbookStatus">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remark" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-8">
                        <textarea class="form-control input-sm" id="remark" ng-model="school.remark"></textarea>
                    </div>
                </div>
                </fieldset>
                <div class="col-lg-12 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="update()">保存</button>
                    <!--<button type="reset" class="btn btn-default">重置</button>-->
                </div>
            </form>
        </div>
        <!--panel-body-->
    </div>
</div>