<div class="" data-ng-controller="TeacherManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>老师信息列表</div>
        <div class="panel-body">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入要搜索的关键字符">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                      </span>
                </div>
            </div>
            <table st-table="classes" class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th st-sort="name" class="col-sm-2 pointer">真实姓名</th>
                    <th class="col-sm-1">教师编号</th>
                    <th class="col-sm-1">学校ID</th>
                    <th class="col-sm-2">学科</th>
                    <th class="col-sm-2">职务</th>
                    <th class="col-sm-2">电子邮箱</th>
                    <th class="col-sm-2">手机号码</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in teachers">
                    <td><a ui-sref="admin.teacher-detail({id:userData.id, tid:item.id})" title="详细信息">{{item.real_name}}</a></td>
                    <td>{{item.roll_no}}</td>
                    <td>{{item.school_id}}</td>
                    <td>{{item.discipline | disciplineMap}}</td>
                    <td>{{item.position}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.mobile}}</td>
                </tr>
                </tbody>
            </table>
            <nav class="text-right">
                <ul class="pagination">
                    <li ng-class="{'disabled': pageIndex==1}"><a data-ng-click="prePage()" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li ng-class="{'disabled': pageIndex==pageNum}"><a data-ng-click="nextPage()" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>

            <div class="align-right"><a href="javascript:void(0)">查看全部<span class="icon-forward"></span></a></div>

        </div>
    </div>
</div>