<div class="" data-ng-controller="TeacherTextbookManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading relative">
            <span class="icon-share2"></span>老师－教材详细信息
            <div class="align-right">
                <a class="text-decoration" ui-sref="admin.teacher-textbook-edit({id:userData.id, ttid:teacherTextbook.id})">编辑<span class="icon-pencil"></span></a>
                <a class="text-decoration" href="javascript:void(0)" data-ng-click="delete(teacherTextbook.id)">删除<span class="icon-pencil"></span></a>
                <a class="text-decoration" ui-sref="admin.teacher-textbook-list({id:userData.id})">返回<span class="icon-forward"></span></a>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="col-left">教师ID</span>
                    <span class="col-right">{{teacherTextbook.teacher_id}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">教师姓名</span>
                    <span class="col-right">{{teacherTextbook.real_name}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">教材ID</span>
                    <span class="col-right">{{teacherTextbook.textbook_id}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">教材名字</span>
                    <span class="col-right">{{teacherTextbook.name}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">添加时间</span>
                    <span class="col-right">{{teacherTextbook.added_time}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">状态</span>
                    <span class="col-right">{{teacherTextbook.status | textbookStatusMap}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">删除标记</span>
                    <span class="col-right">{{teacherTextbook.delete_flag | deleteFlag}}</span>
                </li>
                <li class="list-group-item">
                    <span class="col-left">备注</span>
                    <span class="col-right">{{teacherTextbook.remark}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>