<div class="" data-ng-controller="TextbookManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading relative"><span class="icon-share2"></span>变更班级信息
            <div class="align-right">
                <a class="text-decoration" ui-sref="admin.textbook-detail({id:userData.id, tid:textbook.id})">返回<span class="icon-forward"></span></a>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="addForm">
                <fieldset class="col-sm-12">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control input-sm" id="name" ng-model="textbook.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="press" class="col-sm-2 control-label">出版社</label>
                        <div class="col-sm-8">
                            <input name="press" type="text" class="form-control input-sm" id="press" ng-model="textbook.press">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishing_date" class="col-sm-2 control-label">出版日期</label>
                        <div class="col-sm-8">
                            <input name="publishing_date" type="text" class="form-control input-sm" id="publishing_date" ng-model="textbook.publishing_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishing_edtion" class="col-sm-2 control-label">出版版次</label>
                        <div class="col-sm-8">
                            <input name="publishing_edtion" type="text" class="form-control input-sm" id="publishing_edtion" ng-model="textbook.publishing_edtion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="printing_batch" class="col-sm-2 control-label">印刷批次</label>
                        <div class="col-sm-8">
                            <input name="printing_batch" type="text" class="form-control input-sm" id="printing_batch" ng-model="textbook.printing_batch">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isbn" class="col-sm-2 control-label">书号</label>
                        <div class="col-sm-8">
                            <input name="isbn" type="text" class="form-control input-sm" id="isbn" ng-model="textbook.isbn">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level" class="col-sm-2 control-label">所属级别</label>
                        <div class="col-sm-8">
                            <input name="level" type="text" class="form-control input-sm" id="level" ng-model="textbook.level">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="version" class="col-sm-2 control-label">所属版本</label>
                        <div class="col-sm-8">
                            <input name="version" type="text" class="form-control input-sm" id="version" ng-model="textbook.version">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grade" class="col-sm-2 control-label">所属年级</label>
                        <div class="col-sm-8">
                            <input name="grade" type="text" class="form-control input-sm" id="grade" ng-model="textbook.grade">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="discipline" class="col-sm-2 control-label">所属学科</label>
                        <div class="col-sm-8">
                            <input name="discipline" type="text" class="form-control input-sm" id="discipline" ng-model="textbook.discipline">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="term" class="col-sm-2 control-label">学期</label>
                        <div class="col-sm-8">
                            <input name="term" type="text" class="form-control input-sm" id="term" ng-model="textbook.term">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <textarea class="form-control input-sm" id="remark" ng-model="textbook.remark"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="col-lg-12 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="update()">保存</button>
                    <!--<button type="reset" class="btn btn-default">重置</button>-->
                </div>
            </form>
        </div>
        <!--panel-body-->
    </div>
</div>