<div class="" data-ng-controller="TextbookSectionManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>添加教材章节</div>
        <div class="panel-body">
            <form class="form-horizontal" id="addForm">
                <fieldset class="col-sm-12">
                    <div class="form-group">
                        <label for="textbook_id" class="col-sm-2 control-label">教材ID</label>
                        <div class="col-sm-8">
                            <select name="textbook_id" id="textbook_id" class="form-control input-sm" ng-model="form.textbook_id"
                                    ng-options="item.id as item.displayName for item in availableTextbooks">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">章节名称</label>
                        <div class="col-sm-8">
                            <input name="name" type="text" class="form-control input-sm" id="name" ng-model="form.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pre_section_id" class="col-sm-2 control-label">上级章节ID</label>
                        <div class="col-sm-8">
                            <!--<input name="pre_section_id" type="text" class="form-control input-sm" id="pre_section_id" ng-model="form.pre_section_id">-->
                            <select name="pre_section_id" id="pre_section_id" class="form-control input-sm" ng-model="form.pre_section_id"
                                    ng-options="item.id as item.name for item in availableTextbookSections">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <textarea class="form-control input-sm" id="remark" ng-model="form.remark"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="col-lg-12 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" data-ng-click="create()">保存</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
        <!--panel-body-->
    </div>
</div>