<div class="" data-ng-controller="VideoManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>视频管理</div>
        <div class="panel-body">
            <div id="fileUploadPost">选择视频封面</div>
            <div id="startUploadPost" class="ajax-file-upload-blue inline-block space">开始上传</div>
        </div>
        <!--panel-body-->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>添加视频信息</div>
        <div class="panel-body">
            <form class="form-horizontal" id="addForm">
                <fieldset class="col-sm-12">
                    <div class="form-group">
                        <label for="video_name" class="col-sm-2 control-label">视频名字</label>
                        <div class="col-sm-8">
                            <input name="video_name" type="text" class="form-control input-sm" id="video_name" ng-model="form.video_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mime" class="col-sm-2 control-label">视频类型</label>
                        <div class="col-sm-8">
                            <input name="mime" type="text" class="form-control input-sm" id="mime" ng-model="form.mime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">文件路径</label>
                        <div class="col-sm-8">
                            <input name="location" type="text" class="form-control input-sm" id="location" ng-model="form.location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-2 control-label">访问URL</label>
                        <div class="col-sm-8">
                            <input name="url" type="text" class="form-control input-sm" id="url" ng-model="form.url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tudouUrl" class="col-sm-2 control-label">土豆网址</label>
                        <div class="col-sm-8">
                            <input name="tudouUrl" type="text" class="form-control input-sm" id="tudouUrl" ng-model="form.tudouUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duration" class="col-sm-2 control-label">视频时长</label>
                        <div class="col-sm-8">
                            <input name="duration" type="text" class="form-control input-sm" id="duration" ng-model="form.duration">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_mime" class="col-sm-2 control-label">封面类型</label>
                        <div class="col-sm-8">
                            <input name="cover_mime" type="text" class="form-control input-sm" id="cover_mime" ng-model="form.cover_mime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_location" class="col-sm-2 control-label">封面路径</label>
                        <div class="col-sm-8">
                            <input name="cover_location" type="text" class="form-control input-sm" id="cover_location" ng-model="form.cover_location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_url" class="col-sm-2 control-label">封面URL</label>
                        <div class="col-sm-8">
                            <input name="cover_url" type="text" class="form-control input-sm" id="cover_url" ng-model="form.cover_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_size" class="col-sm-2 control-label">封面大小</label>
                        <div class="col-sm-8">
                            <input name="cover_size" type="text" class="form-control input-sm" id="cover_size" ng-model="form.cover_size">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_height" class="col-sm-2 control-label">封面高度</label>
                        <div class="col-sm-8">
                            <input name="cover_height" type="text" class="form-control input-sm" id="cover_height" ng-model="form.cover_height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cover_width" class="col-sm-2 control-label">封面宽度</label>
                        <div class="col-sm-8">
                            <input name="cover_width" type="text" class="form-control input-sm" id="cover_width" ng-model="form.cover_width">
                        </div>
                    </div>
                </fieldset>
                <div class="col-lg-10 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary" data-ng-click="create()">保存</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
        <!--panel-body-->
    </div>
</div>