<div class="" data-ng-controller="VideoManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>视频播放界面</div>
        <div class="panel-body">
            <a href="http://localhost:8078/data/flowplayer-700.flv"    class="player"
               style="display:block;width:640px;height:360px;margin:10px auto"
               id="player">
            </a>
        </div>
        <!--panel-body-->
    </div>
    <script>
        flowplayer("player", "scripts/libs/flowplayer-3.2.18.swf");
    </script>
</div>