<div class="" data-ng-controller="VideoManagerCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>视频管理</div>
        <div class="panel-body">
            <div id="fileUpload">选择视频文件及封面</div>
            <div id="startUpload" class="ajax-file-upload-blue inline-block space">开始上传</div>
        </div>
        <!--panel-body-->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-share2"></span>视频信息更新</div>
        <div class="panel-body">
            <form class="form-horizontal" id="addForm">
                <fieldset class="col-sm-6">
                    <div class="form-group">
                        <label for="videoName" class="col-sm-4 control-label">视频名字</label>
                        <div class="col-sm-8">
                            <input name="videoName" type="text" class="form-control" id="videoName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="videoType" class="col-sm-4 control-label">视频类型</label>
                        <div class="col-sm-8">
                            <input name="videoType" type="text" class="form-control" id="videoType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="videoTag" class="col-sm-4 control-label">视频标签</label>
                        <div class="col-sm-8">
                            <input name="videoTag" type="text" class="form-control" id="videoTag">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-sm-6">
                    <div class="form-group">
                        <label for="postName" class="col-sm-4 control-label">封面名字</label>
                        <div class="col-sm-8">
                            <input name="postName" type="text" class="form-control" id="postName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postHeight" class="col-sm-4 control-label">封面高度</label>
                        <div class="col-sm-8">
                            <input name="postHeight" type="text" class="form-control" id="postHeight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postWidth" class="col-sm-4 control-label">封面宽度</label>
                        <div class="col-sm-8">
                            <input name="postWidth" type="text" class="form-control" id="postWidth">
                        </div>
                    </div>
                </fieldset>
                <div class="col-lg-10 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
        <!--panel-body-->
    </div>
</div>